/*
* подключение чужих файлов стилей
*  @import "../../bower_components/normalize.css/*.css";
*/

@import "parts/header.scss";



body {
  padding: 0;
  margin: 0;
}

@media (min-resolution: 2dppx) {
  .image {
    background-image: url(image@2x.png);
  }
}


/*
* Подключение своих файлов стилей
* @import "parts/*.css";
*/

@import "parts/footer.scss";


